session_04/attendees/.sts4-cache
session_04/attendees/.classpath
session_04/attendees/.project
session_04/attendees/.settings/org.eclipse.jdt.core.prefs
session_04/attendees/target/*
spring-shell.log
*.idea